$blackTile: rgb(17, 97, 17);
$whiteTile: rgb(221, 219, 209);
$blackPieces: rgb(41, 40, 37);
$whitePieces: rgb(209, 209, 209);
$border: rgb(128, 128, 128);
$body: rgb(228, 228, 228);

%piece {
  flex-basis: 80%;
  height: 80%;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 5px 0 rgb(56, 56, 56);
}

%piece--black {
  background-color: $blackPieces;
  border: 3px solid lighten($blackPieces, 25%);
}

%piece--white {
  background-color: $whitePieces;
  border: 3px solid darken($whitePieces, 25%);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: $body;
}

.game-container {
  width: 800px;
  height: 600px;
  display: flex;

  box-shadow: 0 0 10px 2px black;
  background-color: $border;
  border: 10px solid $border;
  border-radius: 5px;
}

.game-stats {
  width: 200px;
  height: 100%;
  text-align: center;
  background-color: $blackTile;
  border-right: 10px solid $border;
  color: $whiteTile;
  font-size: 1.25rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  &__clock,
  &__turn,
  &__start,
  &__black,
  &__white {
    flex-basis: 100%;
  }

  &__button {
    width: 70%;
    height: 50px;
    cursor: pointer;
    background: none;
    color: white;
    outline: none;
    font-size: 1.5rem;
    align-self: flex-end;
  }
}

.board {
  width: 600px;
  height: 100%;

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);

  &__tile {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__tile--black {
    background-color: $blackTile;
  }

  &__tile--white {
    background-color: $whiteTile;
  }

  &__tile--available {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      background-color: rgb(156, 156, 156);
      border-radius: 50%;
    }
    cursor: pointer;
  }
}

.pawn {
  @extend %piece;
  &--black {
    @extend %piece--black;
  }

  &--white {
    @extend %piece--white;
  }

  &--active {
    box-shadow: 0 0 6px 0 white;
  }
}

.king {
  @extend %piece;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }

  &--black {
    @extend %piece--black;
    &::after {
      background-color: lighten($blackPieces, 15%);
    }
  }

  &--white {
    @extend %piece--white;
    &::after {
      background-color: darken($whitePieces, 15%);
    }
  }
}
